<!-- user menu modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">user menu</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (ngSubmit)="createUser()" #newUserForm="ngForm" [formGroup]="userForm">
    <!-- for logged-in user -->
    <div class="modal-body" *ngIf="app.user">
      <!-- id -->
      <p>id: {{app.user.id}}</p>

      <!-- username -->
      <div class="form-group"
           [ngClass]="{
        'has-danger': username.invalid && (username.dirty || username.touched),
        'has-success': username.valid && (username.dirty || username.touched)
      }">
        <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true">
          <!-- TODO: replace this with profile photo -->
        </span>
        <label>username: </label>
        <input type="text"
               class="form-control"
               formControlName="username"
               [(ngModel)]="app.user.username"
               required>
        <div class="form-control-feedback"
             *ngIf="username.errors && (username.dirty || username.touched)">
          <p *ngIf="username.errors.required">username is required</p>
          <!-- TODO: message if min length not reached -->
        </div>
      </div>

      <!-- password -->
      <div class="form-group"
           [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
      }">
        <label>password: </label>
        <input type="password"
               class="form-control"
               formControlName="password"
               [(ngModel)]="app.user.password"
               required>
        <div class="form-control-feedback"
             *ngIf="password.errors && (password.dirty || password.touched)">
          <!-- TODO: message if min length not reached -->
          <!--<p *ngIf="password.errors.minLength">password needs to be 3 characters or longer</p>-->
        </div>
      </div>

      <!-- email -->
      <div class="form-group"
           [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
      }">
        <label>email: </label>
        <input type="email"
               class="form-control"
               formControlName="email"
               [(ngModel)]="app.user.email"
               required>
        <div class="form-control-feedback"
             *ngIf="email.errors && (email.dirty || email.touched)">
        </div>
      </div>
    </div>

    <!-- for guest -->
    <div class="modal-body" *ngIf="!app.user">
      <!-- username -->
      <div class="form-group" (change)="this.onUsernameChanged($event)"
           [ngClass]="{
        'has-danger': username.invalid && (username.dirty || username.touched),
        'has-success': username.valid && (username.dirty || username.touched)
      }">
        <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true"></span>
        <label for="username">username: </label>
        <input type="text"
               class="form-control"
               formControlName="username"
               id="username"
               [(ngModel)]="newUser.username"
               required>
        <div class="form-control-feedback"
             *ngIf="username.errors && (username.dirty || username.touched)">
          <p *ngIf="username.errors.required">username is required</p>
          <!-- TODO: message if min length not reached -->
        </div>
        <p *ngIf="usernameTaken">username is taken</p>
      </div>

      <!-- password -->
      <div class="form-group" *ngIf="usernameTaken"
           [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
      }">
        <label>password: </label>
        <input type="password"
               class="form-control"
               formControlName="password"
               [(ngModel)]="newUser.password"
               required>
        <div class="form-control-feedback"
             *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.mismatch">incorrect password</p>
          <!-- TODO: message if min length not reached -->
          <!--<p *ngIf="password.errors.minLength">password needs to be 3 characters or longer</p>-->
        </div>
      </div>
    </div>

    <!-- action buttons -->
    <div class="modal-footer">
      <button *ngIf="app.user" type="button" class="btn btn-outline-dark" (click)="logout()">log out</button>
      <button *ngIf="!app.user && usernameTaken" type="submit" class="btn btn-success"
              [disabled]="!newUserForm.form.valid">log in
      </button>
      <button *ngIf="!app.user && !usernameTaken" type="submit" class="btn btn-success"
              [disabled]="!newUserForm.form.valid">sign up
      </button>
    </div>
  </form>
</ng-template>

<!-- user menu trigger -->
<a class="button" (click)="openUserMenu(content)">
  <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true"></span>
  <span *ngIf="!app.user">sign in</span>
  <span *ngIf="app.user">{{app.user.username}}</span>
</a>
