<!-- user menu modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">user menu</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- for logged-in user -->
  <div class="modal-body" *ngIf="loggedIn && loggedInUser">
    <form [formGroup]="usernameForm">
      <!-- username -->
      <div class="form-group"
           [ngClass]="{
        'has-danger': username.invalid && (username.dirty || username.touched),
        'has-success': username.valid && (username.dirty || username.touched)
      }">
        <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true">
          <!-- TODO: replace this with profile photo -->
        </span>
        <label>username: </label>
        <input type="text"
               class="form-control"
               formControlName="username"
               [(ngModel)]="loggedInUser.full_name"
               required>
        <div class="form-control-feedback"
             *ngIf="username.errors && (username.dirty || username.touched)">
          <p *ngIf="username.errors.required">username is required</p>
          <!-- TODO: message if min length not reached -->
        </div>
      </div>

      <!-- password -->
      <div class="form-group"
           [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
      }">
        <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true">
          <!-- TODO: replace this with profile photo -->
        </span>
        <label>password: </label>
        <input type="password"
               class="form-control"
               formControlName="password"
               [(ngModel)]="loggedInUser.password"
               required>
        <div class="form-control-feedback"
             *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">password is required</p>
          <!-- TODO: message if min length not reached -->
        </div>
      </div>
    </form>
  </div>

  <!-- for guest -->
  <div class="modal-body" *ngIf="!loggedIn">
    you can log in now!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!-- user menu trigger -->
<a class="button" (click)="openUserMenu(content)">
  <span class="nav-icon oi oi-person" title="user menu" aria-hidden="true"></span>
  <span *ngIf="!loggedIn">sign in</span>
  <span *ngIf="loggedIn && loggedInUser">{{loggedInUser.full_name}}</span>
</a>
