<!-- navigation -->
<nav>
  <ul class="nav justify-content-center flex-sm-column" id="navigation-bar">
    <li class="nav-item">
      <a routerLink="/graph" routerLinkActive="active" class="nav-link disabled">
        <span class="nav-icon oi oi-pie-chart" title="graph" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/table" routerLinkActive="active" class="nav-link">
        <span class="nav-icon oi oi-list" title="table view" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/filter" routerLinkActive="active" class="nav-link disabled">
        <span class="nav-icon oi oi-beaker" title="filter" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/add-item" routerLinkActive="active" class="nav-link disabled" id="add-item-button">
        <span class="nav-icon oi oi-plus" title="new item" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>

<!-- content -->
<router-outlet></router-outlet>

<!-- footer -->
<footer class="page">
  <hr/>
  <!-- developer info -->
  <p class="d-sm-none">viewport: xs</p>
  <p class="d-none d-sm-block d-md-none">viewport: sm</p>
  <p class="d-none d-md-block d-lg-none">viewport: md</p>
  <p class="d-none d-lg-block">viewport: lg</p>
</footer>
