<!-- navigation -->
<ul class="nav">
  <li class="nav-item">
    <a routerLink="/graph" routerLinkActive="active" class="nav-link disabled">
      <span class="nav-icon oi oi-pie-chart" title="graph" aria-hidden="true"></span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/table" routerLinkActive="active" class="nav-link">
      <span class="nav-icon oi oi-list" title="table view" aria-hidden="true"></span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/filter" routerLinkActive="active" class="nav-link disabled">
      <span class="nav-icon oi oi-beaker" title="filter" aria-hidden="true"></span>
    </a>
  </li>
</ul>

<!-- content -->
<router-outlet></router-outlet>

<!-- footer -->
<footer>
  <!-- developer info -->
  <p class="d-sm-none">this is xs</p>
  <p class="d-none d-sm-block d-md-none">this is sm</p>
  <p class="d-none d-md-block d-lg-none">this is md</p>
  <p class="d-none d-lg-block">this is lg</p>
</footer>
