<!-- navigation -->
<nav>
  <!-- user menu button -->
  <app-user-menu></app-user-menu>

  <!-- floating navigation bar-->
  <ul class="nav justify-content-center flex-sm-column" id="navigation-bar">
    <!-- graph view (TODO) -->
    <li class="nav-item" id="nav-graph">
      <a routerLink="/graph" routerLinkActive="active" class="nav-link disabled">
        <span class="nav-icon oi oi-pie-chart" title="graph" aria-hidden="true"></span>
      </a>
    </li>

    <!-- table view -->
    <li class="nav-item" id="nav-table">
      <a routerLink="/table" routerLinkActive="active" class="nav-link" [title]="environment.title">
        <span class="nav-icon oi oi-list" title="table view" aria-hidden="true"></span>
      </a>
    </li>

    <!-- filter (TODO) -->
    <li class="nav-item" id="nav-filter">
      <a routerLink="/filter" routerLinkActive="active" class="nav-link disabled">
        <span class="nav-icon oi oi-beaker" title="filter" aria-hidden="true"></span>
      </a>
    </li>

    <!-- add item button-->
    <li class="nav-item" id="nav-add-item">
      <a (click)="addItem()" routerLinkActive="active" routerLinkActiveOptions="" class="nav-link button"
         id="add-item-button">
        <span class="nav-icon oi oi-plus" title="new item" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>

<!-- content -->
<router-outlet></router-outlet>

<!-- footer -->
<footer class="page">
  <section class="developer-info" *ngIf="!environment.production">
    <hr/>
    <!-- developer info -->
    <p class="d-sm-none">viewport: xs</p>
    <p class="d-none d-sm-block d-md-none">viewport: sm</p>
    <p class="d-none d-md-block d-lg-none">viewport: md</p>
    <p class="d-none d-lg-block">viewport: lg</p>
  </section>
</footer>
