<table class="table table-responsive-sm" id="items-list">
  <thead>
  <tr>
    <th scope="col">date</th>
    <th scope="col">amount</th>
    <th scope="col">item</th>
    <th scope="col">category</th>
    <th scope="col">payment</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items; let i = index;" (click)="onSelect(i, $event)">
    <!-- TODO: custom date format -->
    <td contenteditable>{{item.date.toLocaleDateString()}} {{item.date.toLocaleTimeString()}}</td> <!-- date -->
    <!-- TODO: get currency symbol instead of code -->
    <!-- TODO: maybe combining amount and currency should be done in the component -->
    <td contenteditable>{{item.amount.toFixed(2)}} {{item.currency}}</td> <!-- amount -->
    <td contenteditable>{{item.content}}</td> <!-- item -->
    <td contenteditable>{{item.category}}</td> <!-- category -->
    <td contenteditable>{{item.payment}}</td> <!-- payment type -->
  </tr>
  </tbody>
</table>

