<p-table [columns]="cols" [value]="items" id="items-list">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <!-- date -->
      <!-- TODO: custom date format -->
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData.date">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.date.toLocaleDateString()}}
            <!--{{rowData.date.toLocaleDateString('en-GB', dateOptions)}}-->
            {{rowData.date.toLocaleTimeString()}}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- amount -->
      <!-- TODO: get currency symbol instead of code -->
      <!-- TODO: maybe combining amount and currency should be done in the component -->
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData.amount">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.amount.toFixed(2)}} {{rowData.currency}}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- content -->
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData.content">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.content}}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- category -->
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData.category">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.category}}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- payment -->
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData.payment">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.payment}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table>

