<table class="table table-responsive-md" id="items-list">
  <thead>
  <tr>
    <th scope="col">date</th>
    <th scope="col">amount</th>
    <th scope="col">item</th>
    <th scope="col">category</th>
    <th scope="col">payment</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td contenteditable>...</td> <!-- date -->
    <td contenteditable>...</td> <!-- amount -->
    <td contenteditable>...</td> <!-- item -->
    <td contenteditable>...</td> <!-- category -->
    <td contenteditable>...</td> <!-- payment type -->
  </tr>
  </tbody>
</table>

