@import "variables";

// generic type selector styles
a.button {
  cursor: pointer;
}

input {
  &.ng-valid {
    border-color: @valid;
  }
  &.ng-invalid {
    border-color: @invalid;
  }
}

// on larger screens, offset the app main page to make space for vertical navigation bar
@media screen and (min-width: @sm) {
  body {
    width: calc(~"100% - 45px");

    .page {
      position: relative;
      left: 45px;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// extra developer info should be less visible
.developer-info {
  color: @foreground-secondary;
  font-size: smaller;
}
