@import "variables";

a.button {
  cursor: pointer;
}

// on larger screens, offset the app main page to make space for vertical navigation bar
@media screen and (min-width: @sm) {
  body {
    width: calc(~"100% - 45px");

    .page {
      position: relative;
      left: 45px;
    }
  }
}
